.projects {
  height: fit-content;
}

.project-section {
  margin-top: 10px;
  height: 90px;
  text-align: center;
  color: white;
  border: 2px solid grey;
  border-top: none;
  border-right: none;
  border-left: none;

  margin-bottom: 25px;
}

.project-section h1 {
  background-color: transparent;
  font-size: 70px;
  letter-spacing: 2px;
  color: #5d9aff;
  margin-bottom: 10px;
}

.project-content {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.project1,
.project2 {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  color: white;
}

.project1-content,
.project2-content {
  margin: 40px;
  margin-left: 105px;
}

.project2,
.project2-image,
.project2-content {
  background-color: #2b2b2b !important;
}

.project1-content h1 {
  font-size: 55px;
  letter-spacing: 2px;
  color: #aaa492;
}

.project-content h2 {
  font-size: 30px;
  color: white;
}

.project2-content h1 {
  background-color: #2b2b2b;
  font-size: 55px;
  color: #aaa492;
}

.project2-content h2 {
  background-color: #2b2b2b;
}

.project1-content,
.project2-content p {
  font-size: 33px;
  color: #5d9aff;
}

.project-content a {
  text-decoration: underline;
  cursor: pointer;
}

.project2-content {
  background-color: transparent;
}

.project2-content p {
  background-color: transparent;
}

.btc-img,
.cfg-img,
.rpa-img,
.networking-img {
  margin: 20px;
  width: 500px;
  height: 300px;
  border: 2px solid white;
  margin-bottom: 45px;
}

@media screen and (max-width: 800px) {
  .projects {
    height: 1900px !important;
  }
  .btc-img,
  .cfg-img,
  .rpa-img,
  .networking-img {
    width: 300px;
    height: 200px;
  }

  .project1-content,
  .project2-content {
    margin: 2px;
  }

  .project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project1-content {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  .project1-content h2 {
    font-size: 42px !important;
  }

  .project1-content h1 {
    font-size: 52px !important;
    line-height: 50px;
  }

  .last-content {
    margin-bottom: 80px;
  }

  ul {
    list-style: none;
  }
}
