.contact {
  height: fit-content;
}

.contact-page-title {
  color: #5d9aff;
  text-align: center;
  font-size: 100px;
  letter-spacing: 3px;
}

.contact-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
  .contact-page-title {
    font-size: 75px;
  }

  .contact-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 85px;
  }
}
