* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Dongle", sans-serif;
}

.singleTab {
  color: white;
  background-color: #2c394b;
  width: 150px;
  height: 30px;
  padding: 2px 25px;
  color: #fabb51;
  font-weight: lighter;
  letter-spacing: 2px;
  /* border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; */
  /* border: 2px solid #ea5c2b;
  border-top-color: #ea5c2b; */
  /* border-bottom: none;
  border-left: none;
  border-right: none; */
  cursor: default;
  /* border-right: none; */
  border: 2px solid transparent;
  border-right-color: #444941;
  border-bottom-color: #444941;
  font-size: 13px;
}

#tab-1 {
  background-color: #2b2b2b;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top-color: #ea5c2b;
}

#tab-2 {
  background-color: #2b2b2b;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top-color: #ea5c2b;
}

.singleTab:hover {
  background-color: purple;
}

/* .demo {
  background-color: white;
} */
