* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Dongle", sans-serif;
}

.topHead {
  background-color: #242323 !important;
  color: #aaa492;
  font-weight: 100;
  text-align: center;
  display: flex;
  align-items: baseline;
  user-select: none;
}

.topHead h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 2px;
  flex-grow: 1;
  background-color: #242323;
}
