.socials {
  display: flex;
  flex-direction: row;
  background-color: #242323 !important;
}

a {
  color: none;
}

.socialsText {
  font-size: 20px;
  color: #aaa492 !important;
  /* border: 1px solid #444941 !important; */
  padding: 2px 5px;
  /* margin: 0px 2px; */
  justify-content: center;
  align-items: center;
}

.github {
  /* border: 1px solid #444941 !important; */
  padding: 2px 5px;
  font-size: 2px;
  justify-content: center;
  align-items: center;
  color: #aaa492 !important;
}

.gmail {
  /* border: 1px solid #444941 !important; */
  padding: 2px 5px;
  font-size: 2px;
  justify-content: center;
  align-items: center;
  color: #aaa492 !important;
}

.linkedin {
  /* border: 1px solid #444941 !important; */
  padding: 2px 5px;
  font-size: 2px;
  justify-content: center;
  align-items: center;
  color: #aaa492 !important;
}

a:link,
a:visited {
  color: #aaa492 !important;
  text-decoration: none;
}

.gmail:hover {
  background-color: black !important;
}

.linkedin:hover {
  background-color: black !important;
}

.github:hover {
  background-color: black !important;
}
